.container {
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

#dishDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }
  
  .hide{
    display:none;  
  }